<body>
  <button
    class="navbar-toggler hamburger-button position-absolute m-2 p-2"
    type="button"
    data-toggle="collapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
    onclick="Nav()"
  >
    <div class="animated-icon">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </button>
  <!-- Sidebar Content -->
  <div class="row">
    <div class="col-1 d-flex justify-content-center">
      <img src="" alt="" />
      <div id="mySidenav" class="sidenav font-weight-light">
        <svg
          class="bd-placeholder-img card-img-top"
          height="180"
          xmlns=""
          role="img"
          aria-label="Cadastro Automático"
          preserveAspectRatio="xMidYMid slice"
        >
          <title>Cadastro Automático</title>
          <rect width="100%" height="100%" fill="#6c757d"></rect>
          <text x="10%" y="50%" fill="#dee2e6" dy=".3em">Logo</text>
        </svg>
        <a href="#">Frequência</a>
        <a href="register-attendance.html">Registrar Presença</a>
        <br /><br />
        <a href="index.html">Sair</a>
        <!-- Collapse button -->
      </div>
    </div>
  </div>
</body>
